* {
  box-sizing: border-box; /*doesn't work*/
}

body {
  font-size: 1rem;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  
/* Flexbox main */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header */

.container-header {
  padding: 1em;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.header-text {
  margin: 0;
  padding: 0 .5em;
  text-decoration: none;
}

.container-header a {
  display: inline-block;
  color: #333;
  text-decoration: none;
}

.header-text a:hover {
  text-decoration: underline;
}

.header-button {
  padding: 0 .8em;
}

.button-img1 {
  width: 16px;
  height: 16px;
}

.button-img2 {
  width: 30px;
  height: 30px;
}

/* Main */

.google-img {
  width: 272px;
  height: 92px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-box {
  border: 1px solid #dfe1e5;
  height: 2.7em;
  width: 36.3em;
  padding: .5em;
  border-radius: 24px;
  display: flex;
}

.search-txt {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  border: none;
  background: none;
  outline: none;
  width: 32em;
  padding: .3em .9em;
}

.icon-box {
  display: flex;
}

.material-icons.md-18 {
  font-size: 19px;
  color: #9aa0a6;
  align-self: center;
  padding: 0em .3em;
}
 
/*-----------------------------------------*/

main .input-main {
  height: 2.2em;
  display: flex;
  margin: 2em 2em 1em 2em;
}

main .input-styles {
  font-size: 0.8rem;
  background-color: #f2f2f2;
  color: #5F6368;
  border: 2px solid #f2f2f2;
  border-radius: 0.3em;
  padding: 0 1em;
  margin: 0,6em 0,2em;
  cursor: pointer;
}

main .input-styles:hover {
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: black;
}

main .input-main:active {
  border: 1px solid #267bc0;
}

main .location > p {
  font-size: 0.8rem;
  color: #222;
}

main .location > p > a {
  text-decoration: none;
}

main .location > p > a:hover {
  text-decoration: underline;


/*footer*/

footer { 
  background-color: #f2f2f2;   
}

/*row 1*/

footer .country { 
  border-top: thin solid #e4e4e4;
  border-bottom: thin solid #e4e4e4;
  color: #0000008A;
  font-size: 0.93rem;
}   

footer p {
  padding: 0.8em 2em;
  margin: 0;
}

/*row 2*/

footer .links-footer {
  display: flex;
  justify-content: space-between;
  padding: 0.8em 1.2em;
}

footer .links {
  display: flex;
}

footer a {
  padding: 0.8em 0.8em;
  text-decoration: none;
  color: #5f6368;
  font-size: 0.93rem;
}

footer a:hover {
  text-decoration: underline;
}

footer a:active {
  color: #dd4b39;
}

