* {
  box-sizing: border-box; /*doesn't work*/
}

body {
  font-size: 1rem;
  background-color: #69b4e6;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Header */

.container-header {
  padding: 1em;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.header-text {
  margin: 0;
  padding: 0 .5em;
  text-decoration: none;
}

.container-header a {
  display: inline-block;
  color: #333;
  text-decoration: none;
}

.header-text a:hover {
  text-decoration: underline;
}

.header-button {
  padding: 0 .8em;
}

.button-img1 {
  width: 16px;
  height: 16px;
}

.button-img2 {
  width: 30px;
  height: 30px;
}

/*footer*/

footer { 
  background-color: #f2f2f2;   
}

/*row 1*/

footer .country { 
  border-top: thin solid #e4e4e4;
  border-bottom: thin solid #e4e4e4;
  color: #0000008A;
  font-size: 0.93rem;
}   

footer p {
  padding: 0.8em 2em;
  margin: 0;
}

/*row 2*/

footer .links-footer {
  display: flex;
  justify-content: space-between;
  padding: 0.8em 1.2em;
}

footer .links {
  display: flex;
}

footer a {
  padding: 0.8em 0.8em;
  text-decoration: none;
  color: #5f6368;
  font-size: 0.93rem;
}

footer a:hover {
  text-decoration: underline;
}

footer a:active {
  color: #dd4b39;
}

