* {
    box-sizing: border-box;
}

:root {
    font-size: 1em;
}

body {
    background-color: #69b4e6;
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

.container-header {
  padding: 1em;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.header-text {
  margin: 0;
  padding: 0 .5em;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.header-text a {
  color: #333;
  text-decoration: none;
}

.header-button {
  padding: 0 .8em;
}

.button-img1 {
  width: 20px;
  height: 20px;
}

.button-img2 {
  width: 30px;
  height: 30px;
}

>>>>>>> 87528b52e4a6d064e5b73e602777a4b4d23c9e8f

/*footer*/

footer { /*si lo quito, no funciona el background de abajo y visceversa*/
    background-color: #f2f2f2;
    
}

footer .container-footer {
    margin: 0;
    border-top: thin solid #e4e4e4;
    border-bottom: thin solid #e4e4e4;
    display: flex; 
    background-color: #f2f2f2;
    color: #0000008A;
    font-size: 0.93rem;
}   

footer .links-footer {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
}

footer .links {
  display: flex;
}

footer p {
  margin: 0.8em 0.8em;
}

.padding-footer-left {
  padding-left: 1.2em;
  color: #4e4c4c28;
}

.padding-footer-right {
  padding-right: 1.2em;
}

footer a {
  text-decoration: none;
  color: #5f6368;
  font-size: 0.93rem;
}

footer a:hover {
  text-decoration: underline;
}

footer a:active {
  color: #e95555;
}

footer a:visited {
  color: ;
}